:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 720px) {
  :host {
    flex-direction: row;
  }
}

.current-weather__temperature {
  font-size: 200px;
}
