:host {
  align-self: flex-end;
}

button {
  appearance: none;
  border: none;
  outline: none;
  margin-left: 5px;
  transition: all 0.1s ease;
}

button.selected {
  font-weight: bold;
  font-size: 18px;
}
