:host {
  text-align: center;
  padding: 10px;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

:host(:nth-child(even)) {
  background-color: rgba(0, 0, 0, 0.22);
}

:host *:not(:last-child) {
  margin-bottom: 10px;
}

:host:first-child {
  border-radius: 5px 0 0 5px;
}

:host:last-child {
  border-radius: 0 5px 5px 0;
}
