<div class="app" [ngClass]="(weather$ | async)?.current.period">
  <div class="app-container">
    <app-search></app-search>

    <div *ngIf="weather$ | async">
      <div class="app-meta">
        <p>{{ (location$ | async)?.name }}</p>
        <app-unit-switcher></app-unit-switcher>
      </div>

      <app-current-weather [weather]="(weather$ | async).current"></app-current-weather>
      <app-weather-card-list [weatherData]="(weather$ | async).dailyForecast"></app-weather-card-list>
    </div>
  </div>
</div>

