<div class="app" [ngClass]="weather?.current.period">
  <div class="app-container">
    <app-search (onQueryEntered)="onAddressEntered($event)"></app-search>

    <div *ngIf="weather">
      <div class="app-meta">
        <p>{{ (location$ | async)?.name }}</p>
        <app-unit-switcher (onUnitChanged)="onUnitChanged($event)"></app-unit-switcher>
      </div>

      <current-weather [weather]="weather.current"></current-weather>
      <weather-card-list [weatherData]="weather.forecast"></weather-card-list>
    </div>
  </div>
</div>

