<div class="app" [ngClass]="weather?.current.period">
  <div class="app-container">
    <search (onQueryEntered)="onAddressEntered($event)"></search>

    <div *ngIf="weather">
      <div class="app-meta">
        <p>{{ weather.location.name }}</p>
        <unit-switcher [units]="this.units" (onUnitChanged)="onUnitChanged($event)" *ngIf="weather"></unit-switcher>
      </div>

      <current-weather [weather]="weather.current"></current-weather>
      <weather-card-list [weatherData]="weather.forecast"></weather-card-list>
    </div>
  </div>
</div>

