.app {
  min-height: 100%;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  color: #fff;
  transition: all 0.1s ease-out;
}

.app.day {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.app.night {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.app-container {
  width: 90vw;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction:column;
}

@media (min-width: 720px) {
  .app-container {
    width: 80vw;
    padding: 50px 0;
  }
}

.app-meta {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 0;
}
